/* Hover glow effect */
@keyframes hoverGlow {
  0% {
    box-shadow: 0 0 0 rgba(255, 76, 82, 0);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 76, 82, 0.5);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 76, 82, 0);
  }
}

.animate-hoverGlow:hover {
  animation: hoverGlow 0.8s ease-in-out infinite;
}

/* Lift effect  */
@keyframes cardLift {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}

.animate-cardLift:hover {
  animation: cardLift 0.3s forwards;
}

/* Fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn:hover {
  animation: fadeIn 0.5s forwards;
}
